<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nhận Diện và Lưu Trữ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/left-content.css') }}">

</head>
<body>
    <nav>
        <ul class="navbar">
            <!-- <li><a href="{{ url_for('analysis') }}" target="sidebar">Phân Tích</a></li> -->
            <li>
                <a href="javascript:void(0);" onclick="toggleSubMenu()">Nhận Diện</a>
                <ul class="sub-menu" id="sub-menu">
                    <li><a href="{{ url_for('identification_default') }}" target="sidebar">Trực Tiếp</a></li>
                    <li><a href="{{ url_for('storage') }}" target="sidebar">Xem Lại</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('storage') }}" target="sidebar">Lưu Trữ</a></li>
        </ul>
    </nav>
    <script src="{{ url_for('static', filename='js/left-content.js') }}" defer></script>
</body>
</html>